* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/BgSun.jpg);
  overflow: hidden;
}

p {
  text-transform: capitalize;
}

#background {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#background #city-name {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 30vw;
}

#background #current-info {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 2vh;
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#background #current-info #day {
  font-size: 3rem;
}

#background #current-info #date {
  font-size: 1rem;
}

#background #current-info #temp {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

#background #current-info #temp #temp-num {
  font-size: 3rem;
}

#background #current-info #temp #sign {
  font-size: 2rem;
}

#background #current-info #feel-like {
  font-size: 1rem;
}

#background #five-day-forecasts {
  width: 90vw;
  margin-left: 5vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#background #five-day-forecasts > div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 18vw;
  row-gap: 2vh;
}

#background #five-day-forecasts > div .day-Temp {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16vw;
  height: 15vh;
  border: 1px solid black;
  border-radius: 9vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#background #five-day-forecasts > div .day-Temp .dayImg {
  width: 12vw;
}

#background #detail {
  -ms-grid-row-align: end;
      align-self: end;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  border-radius: 10px 10px 0 0;
  height: 35vh;
  background-color: #fff;
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#background #detail > div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  row-gap: 5px;
}

#background #detail > div p {
  font-size: 1.2rem;
}
/*# sourceMappingURL=styls.css.map */