* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/BgSun.jpg);
  overflow: hidden;
}

p,
span {
  text-transform: capitalize;
  text-align: center;
}

#background {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#background #addNew {
  z-index: 99;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  border-radius: 0 0 10px 10px;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
  position: absolute;
  padding: 3vh 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#background #addNew #Input {
  width: 25vw;
  -ms-grid-column-align: right;
      justify-self: right;
}

#background #addNew #add {
  -ms-grid-column-align: left;
      justify-self: left;
}

#background #option {
  z-index: 20;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
  -webkit-transform: translateY(240%);
          transform: translateY(240%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#background #option #city-name {
  width: 30vw;
  font-size: 1.2rem;
  text-transform: capitalize;
}

#background #option #city-name option {
  text-transform: capitalize;
  padding: 0 1vw;
}

#background #option #add {
  border-radius: 0.2rem;
  font-size: 1.1rem;
  line-height: 1.2rem;
  text-transform: capitalize;
  padding: 0 1vw;
}

#background #current-info {
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 2vh;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#background #current-info #city {
  font-size: 2rem;
}

#background #current-info #date {
  font-size: 1rem;
}

#background #current-info #day {
  font-size: 1.2rem;
}

#background #current-info #main {
  font-size: 2rem;
}

#background #current-info #temp {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

#background #current-info #temp #temp-num {
  font-size: 2rem;
}

#background #current-info #temp #sign {
  font-size: 1.5rem;
}

#background #current-info #feel-like {
  font-size: 1rem;
}

#background #five-day-forecasts {
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#background #five-day-forecasts > div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 18vw;
  row-gap: 2vh;
}

#background #five-day-forecasts > div .day-Temp {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16vw;
  height: 15vh;
  border: 1px solid black;
  border-radius: 9vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#background #five-day-forecasts > div .day-Temp:hover {
  -webkit-filter: drop-shadow(1px 1px 1px black);
          filter: drop-shadow(1px 1px 1px black);
}

#background #five-day-forecasts > div .day-Temp .dayImg {
  width: 12vw;
}

#background #detail {
  -ms-grid-row-align: end;
      align-self: end;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  border-radius: 10px 10px 0 0;
  height: 35vh;
  background-color: #fff;
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#background #detail > div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  row-gap: 5px;
}

#background #detail > div p {
  font-size: 1.2rem;
}
/*# sourceMappingURL=styls.css.map */